:root {
    --color-primary-0: #522B72; 	/* Main Primary color */
    --color-primary-1: #9376AC; 
    --color-primary-2: #704C8F; 
    --color-primary-3: #371356; 
    --color-primary-4: #210439; 
    }


.Box {
    background: var(--color-primary-1);
    margin: 2px 30px 2px auto;
    padding: 0.4rem;
    border-radius: 7px;
    cursor: pointer;
}

.BoxCompleted {
    background: var(--color-primary-1);
    margin: 2px 30px 2px auto;
    padding: 0.4rem;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: line-through;
}

.Remove {
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    color: red;
    float: right;
}

.List {
    list-style: none;
    text-align: start;
}