:root {
    --color-primary-0: #522B72; 	/* Main Primary color */
    --color-primary-1: #9376AC; 
    --color-primary-2: #704C8F; 
    --color-primary-3: #371356; 
    --color-primary-4: #210439; 
    }


.Box {
    background: var(--color-primary-1);
    width: max-content;
    margin: 2px auto 2px auto;
    padding: 0.4rem;
}

.Remove {
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    color: red;
}

.List {
    list-style: none;
}