
:root {
--color-primary-0: #522B72; 	/* Main Primary color */
--color-primary-1: #9376AC; 
--color-primary-2: #704C8F; 
--color-primary-3: #371356; 
--color-primary-4: #210439; 
}


.App {
  text-align: center;
  border: 1px solid black;
  margin: 10% auto 0 auto;
  width: fit-content;
  padding: 2rem;
  border-radius: 7px;
  background: var(--color-primary-4);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
